@{
    ViewData["Title"] = "Landing Page";
}
<link rel="stylesheet" href="~/css/carousel.css" asp-append-version="true" />
<main class="flex items-center justify-center h-screen bg-gray-100 p-50">
    <div class="container gap-8 columns-1 md:gap-16 md:columns-2">
        <div class="col-span-1 md:col-span-4 lg:col-span-6 mx-auto px-4">
            <h4 class="text-xl md:text-2xl text-gray-700 mb-5 italic text-center">Lumière</h4>
            <div class="p-5 rounded-md shadow-md bg-slate-200 w-52 h-auto sd:w-44 sd:h-auto md:w-96 md:h-auto md:flex md:rounded-none mx-auto">
                <img class="" src="/images/tease.jpg">
            </div>
        </div>
        <div class="col-span-1 md:col-span-4 lg:col-span-6 order-first lg:order-last justify-center">
            <h4 class="text-xl md:text-2xl text-gray-700 mb-5 italic text-center">Las más populares</h4>
            <div class="p-5 rounded-md shadow-md bg-slate-200 p-5 rounded-md shadow-md bg-white w-52 h-auto sd:w-52 sd:h-auto md:w-96 md:h-auto md:flex md:rounded-none mx-auto">
                <!--<img class="object-fill w-44 h-auto sd:w-52 sd:h-auto md:w-96 md:h-auto md:flex md:rounded-none mx-auto" src="/images/pelicula1.jpg">-->
                <div class="carousel1" >
                    <div class="carousel1-inner">
                        <input class="carousel1-open" type="radio" id="carousel1-1" name="carousel1" aria-hidden="true"
                            hidden="" checked="checked">
                        <div class="carousel1-item">
                            <img class="" src="/images/pelicula1.jpg">
                        </div>
                        <input class="carousel1-open" type="radio" id="carousel1-2" name="carousel1" aria-hidden="true"
                            hidden="">
                        <div class="carousel1-item ">
                            <img class="" src="/images/pelicula2.jpg">
                        </div>
                        <input class="carousel1-open" type="radio" id="carousel1-3" name="carousel1" aria-hidden="true"
                            hidden="">
                        <div class="carousel1-item ">
                            <img class="" src="/images/pelicula3.jpg">
                        </div>
                        <label for="carousel1-3" class="carousel1-control prev control-1">‹</label>
                        <label for="carousel1-2" class="carousel1-control next control-1">›</label>
                        <label for="carousel1-1" class="carousel1-control prev control-2">‹</label>
                        <label for="carousel1-3" class="carousel1-control next control-2">›</label>
                        <label for="carousel1-2" class="carousel1-control prev control-3">‹</label>
                        <label for="carousel1-1" class="carousel1-control next control-3">›</label>
                        <ol class="carousel1-indicators">
                            <li>
                                <label for="carousel1-1" class="carousel1-bullet">•</label>
                            </li>
                            <li>
                                <label for="carousel1-2" class="carousel1-bullet">•</label>
                            </li>
                            <li>
                                <label for="carousel1-3" class="carousel1-bullet">•</label>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>
