@{
    ViewData["Title"] = "Login";
}

<main class="flex items-center justify-center h-auto">
    <div class="container pb-8 px-6 h-full pt-32 md:pt-24">
        <div class="flex justify-center items-center md:flex-wrap lg:flex-nowrap h-full text-gray-800">
            <div class="xl:w-10/12">
                <div class="block bg-white shadow-lg rounded-lg">
                    <div class="lg:flex lg:flex-wrap g-0">
                        
                        <div class="lg:w-6/12 items-center lg:rounded-l-lg rounded-t-lg lg:rounded-bl-none bg-gradient-to-r from-sky-900 to-white">
                            <div class="text-center mt-8">
                                <img class="mx-auto w-48 mb-8" src="~/images/logo_2_0.png" alt="logo" />
                            </div>
                            <div class="text-white px-4 py-6 md:p-8 md:mx-6">
                                <h2 class="text-xl font-bold mb-6">Lumière</h2>
                                <h4 class="text-xl font-italic mb-6">"Donde las mejores películas se comparten"</h4>
                                <p class="text-sm text-gray-100 pr-16">
                                    Lumière, lugar de reseñas y una comunidad dispuesta a disfrutar de tus gustos en las mejores peliculas.
                                </p>
                            </div>
                        </div>
                        <div class="lg:w-6/12 px-4 lg:px-0 rounded-b-lg lg:rounded-r-lg pt-4 md:pt-0">
                            <div class="lg:p-12 lg:mx-6">
                                
                                <form>
                                    <p class="mb-4">Ingrese sus datos de usuario</p>
                                    <div class="mb-4">
                                        <input type="email" class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" id="exampleFormControlInput1" placeholder="Correo Electronico" />
                                    </div>
                                    <div class="mb-4">
                                        <input type="password" class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" id="exampleFormControlInput1" placeholder="Contraseña" />
                                    </div>
                                    <div class="text-center pt-1 mb-12 pb-1">
                                        <button class="inline-block px-6 py-2.5 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:shadow-lg focus:outline-none focus:ring-0 active:shadow-lg transition duration-150 ease-in-out w-full mb-3" type="button" data-mdb-ripple="true" data-mdb-ripple-color="light" style="background: linear-gradient(90deg, rgba(226,226,227,1) 0%, rgba(68,93,116,0.9262079831932774) 36%, rgba(63,102,127,1) 73%, rgba(0,30,36,1) 100%);">Inicio de Sesión</button>
                                        <button class="block w-full text-gray-500 bg-white hover:text-gray-700 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center" data-modal-toggle="authentication-modal" type="button">¿Olvidaste tu contraseña?</button>
                                    </div>
                                    <div class="flex items-center justify-between pb-6">
                                        <p class="mb-0 mr-2">¿No tienes cuenta?</p>
                                        <a class="inline-block px-6 py-2 border-2 border-gray-600 text-gray-600 font-medium text-xs leading-tight uppercase rounded hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out" data-mdb-ripple="true" data-mdb-ripple-color="light" asp-controller="Home" asp-action="Register">Registrate</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div id="authentication-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-full md:inset-0 h-modal md:h-full">
                            <div class="relative p-4 w-full max-w-md h-auto">
                                <!-- Modal content -->
                                <div class="relative bg-white rounded-lg shadow">
                                    <button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center" data-modal-toggle="authentication-modal">
                                        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                                        <span class="sr-only">Cerrar ventana</span>
                                    </button>
                                    <div class="py-6 px-6 lg:px-8">
                                        <h3 class="mb-4 text-xl font-medium text-gray-900">Ingrese su fecha de nacimiento</h3>
                                        <form class="space-y-6" action="#">
                                            <div class="flex items-center justify-center">
                                                <div class="datepicker relative form-floating mb-1 xl:w-96" data-mdb-toggle-button="false">
                                                    <input type="text"
                                                           class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                                                           placeholder="Select a date" />
                                                    <label for="floatingInput" class="text-gray-400">Ingrese su fecha de nacimiento</label>
                                                    <button class="datepicker-toggle-button" data-mdb-toggle="datepicker">
                                                        <i class="fas fa-calendar datepicker-toggle-icon"></i>
                                                    </button>
                                                </div>
                                            </div>
                                            <div>
                                                <button type="submit" class="w-full text-white mt-5 bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center" data-modal-toggle="modificarContra">Enviar</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="modificarContra" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-full md:inset-0 h-modal md:h-full">
                            <div class="relative p-4 w-full max-w-md h-auto">
                                <!-- Modal content -->
                                <div class="relative bg-white rounded-lg shadow">
                                    <button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center" data-modal-toggle="authentication-modal">
                                        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                                        <span class="sr-only">Cerrar ventana</span>
                                    </button>
                                    <div class="py-6 px-6 lg:px-8">
                                        <h3 class="mb-4 text-xl font-medium text-gray-900">Ingrese su fecha de nacimiento</h3>
                                        <form class="space-y-6" action="#">
                                            <div>
                                                <label for="password" class="block mb-2 text-sm font-medium text-gray-900">Nueva contraseña</label>
                                                <input type="password" name="password3" id="password2" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-gray-500 focus:border-gray-500 block w-full p-2.5" required>
                                            </div>
                                            <div>
                                                <label for="password" class="block mb-2 text-sm font-medium text-gray-900 ">Confirme nueva contraseña</label>
                                                <input type="password" name="password3" id="password3" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-gray-500 focus:border-gray-500 block w-full p-2.5" required>
                                            </div>
                                            <div>
                                                <button type="submit" class="w-full text-white mt-5 bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Guardar cambios</button>

                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
