@{
    ViewData["Title"] = "Resultados";
}

<main class="flex items-center justify-center h-screen bg-gray-100 overflow-y-auto">
    <div class="columns-1">
        <div class="container">
            <figure class="flex flex-md-column bg-slate-50 rounded-xl p-2 dark:bg-slate-800  ">
                <img class="w-24 h-36 md:w-32 md:h-48 md:flex md:rounded-none mx-auto" src="/images/avatar.jpg" alt="" width="384" height="512">
                <div class="pt-0 md:p-5 text-left space-y-4 ml-5">
                    <div class="text-black-500 dark:text-sky-400 text-2xl text-left">
                        <a href="\Home\Movie">Avatar</a>
                    </div>
                    <figcaption class="font-medium columns-2">
                        <div class="text-sky-500 dark:text-sky-400">
                            Director
                        </div>
                        <div class="text-sky-500 dark:text-sky-400">
                            Año
                        </div>
                    </figcaption>
                    <figcaption class="font-medium columns-2">
                        <div class="text-slate-700 dark:text-slate-500">
                            James Cameron
                        </div>
                        <div class="text-slate-700 dark:text-slate-500">
                            2009
                        </div>
                    </figcaption>
                    <blockquote>
                        <div class="text-sm font-small h-30 w-200 invisible md:visible">
                            Corre el año 2154. Jake Sully es un antiguo marine que vive postrado en una silla de ruedas, pero cuya determinación y valentía se mantienen intactas. Ahora, tiene una misión entre manos: viajar a Pandora, un planeta del que los humanos extraen un mineral que puede acabar con la crisis energética de la Tierra.

                            Sin embargo, este planeta...
                        </div>
                    </blockquote>
                </div>
            </figure>
        </div>
        <div class="container">
            <figure class="flex flex-md-column bg-slate-50 rounded-xl p-2 dark:bg-slate-800  ">
                <img class="w-24 h-36 md:w-32 md:h-48 md:flex md:rounded-none mx-auto" src="/images/avatar.jpg" alt="" width="384" height="512">
                <div class="pt-0 md:p-5 text-left space-y-4 ml-5">
                    <div class="text-black-500 dark:text-sky-400 text-2xl text-left">
                        <a href="\Home\Movie">Avatar</a>
                    </div>
                    <figcaption class="font-medium columns-2">
                        <div class="text-sky-500 dark:text-sky-400">
                            Director
                        </div>
                        <div class="text-sky-500 dark:text-sky-400">
                            Año
                        </div>
                    </figcaption>
                    <figcaption class="font-medium columns-2">
                        <div class="text-slate-700 dark:text-slate-500">
                            James Cameron
                        </div>
                        <div class="text-slate-700 dark:text-slate-500">
                            2009
                        </div>
                    </figcaption>
                    <blockquote>
                        <div class="text-sm font-small h-30 w-200 invisible md:visible">
                            Corre el año 2154. Jake Sully es un antiguo marine que vive postrado en una silla de ruedas, pero cuya determinación y valentía se mantienen intactas. Ahora, tiene una misión entre manos: viajar a Pandora, un planeta del que los humanos extraen un mineral que puede acabar con la crisis energética de la Tierra.

                            Sin embargo, este planeta...
                        </div>
                    </blockquote>
                </div>
            </figure>
        </div>
        <div class="container">
            <figure class="flex flex-md-column bg-slate-50 rounded-xl p-2 dark:bg-slate-800  ">
                <img class="w-24 h-36 md:w-32 md:h-48 md:flex md:rounded-none mx-auto" src="/images/avatar.jpg" alt="" width="384" height="512">
                <div class="pt-0 md:p-5 text-left space-y-4 ml-5">
                    <div class="text-black-500 dark:text-sky-400 text-2xl text-left">
                        <a href="\Home\Movie">Avatar</a>
                    </div>
                    <figcaption class="font-medium columns-2">
                        <div class="text-sky-500 dark:text-sky-400">
                            Director
                        </div>
                        <div class="text-sky-500 dark:text-sky-400">
                            Año
                        </div>
                    </figcaption>
                    <figcaption class="font-medium columns-2">
                        <div class="text-slate-700 dark:text-slate-500">
                            James Cameron
                        </div>
                        <div class="text-slate-700 dark:text-slate-500">
                            2009
                        </div>
                    </figcaption>
                    <blockquote>
                        <div class="text-sm font-small h-30 w-200 invisible md:visible">
                            Corre el año 2154. Jake Sully es un antiguo marine que vive postrado en una silla de ruedas, pero cuya determinación y valentía se mantienen intactas. Ahora, tiene una misión entre manos: viajar a Pandora, un planeta del que los humanos extraen un mineral que puede acabar con la crisis energética de la Tierra.

                            Sin embargo, este planeta...
                        </div>
                    </blockquote>
                </div>
            </figure>
        </div>
        <div class="container">
            <figure class="flex flex-md-column bg-slate-50 rounded-xl p-2 dark:bg-slate-800  ">
                <img class="w-24 h-36 md:w-32 md:h-48 md:flex md:rounded-none mx-auto" src="/images/avatar.jpg" alt="" width="384" height="512">
                <div class="pt-0 md:p-5 text-left space-y-4 ml-5">
                    <div class="text-black-500 dark:text-sky-400 text-2xl text-left">
                        <a href="\Home\Movie">Avatar</a>
                    </div>
                    <figcaption class="font-medium columns-2">
                        <div class="text-sky-500 dark:text-sky-400">
                            Director
                        </div>
                        <div class="text-sky-500 dark:text-sky-400">
                            Año
                        </div>
                    </figcaption>
                    <figcaption class="font-medium columns-2">
                        <div class="text-slate-700 dark:text-slate-500">
                            James Cameron
                        </div>
                        <div class="text-slate-700 dark:text-slate-500">
                            2009
                        </div>
                    </figcaption>
                    <blockquote>
                        <div class="text-sm font-small h-30 w-200 invisible md:visible">
                            Corre el año 2154. Jake Sully es un antiguo marine que vive postrado en una silla de ruedas, pero cuya determinación y valentía se mantienen intactas. Ahora, tiene una misión entre manos: viajar a Pandora, un planeta del que los humanos extraen un mineral que puede acabar con la crisis energética de la Tierra.

                            Sin embargo, este planeta...
                        </div>
                    </blockquote>
                </div>
            </figure>
        </div>
        <div class="container">
            <figure class="flex flex-md-column bg-slate-50 rounded-xl p-2 dark:bg-slate-800  ">
                <img class="w-24 h-36 md:w-32 md:h-48 md:flex md:rounded-none mx-auto" src="/images/avatar.jpg" alt="" width="384" height="512">
                <div class="pt-0 md:p-5 text-left space-y-4 ml-5">
                    <div class="text-black-500 dark:text-sky-400 text-2xl text-left">
                        <a href="\Home\Movie">Avatar</a>
                    </div>
                    <figcaption class="font-medium columns-2">
                        <div class="text-sky-500 dark:text-sky-400">
                            Director
                        </div>
                        <div class="text-sky-500 dark:text-sky-400">
                            Año
                        </div>
                    </figcaption>
                    <figcaption class="font-medium columns-2">
                        <div class="text-slate-700 dark:text-slate-500">
                            James Cameron
                        </div>
                        <div class="text-slate-700 dark:text-slate-500">
                            2009
                        </div>
                    </figcaption>
                    <blockquote>
                        <div class="text-sm font-small h-30 w-200 invisible md:visible">
                            Corre el año 2154. Jake Sully es un antiguo marine que vive postrado en una silla de ruedas, pero cuya determinación y valentía se mantienen intactas. Ahora, tiene una misión entre manos: viajar a Pandora, un planeta del que los humanos extraen un mineral que puede acabar con la crisis energética de la Tierra.

                            Sin embargo, este planeta...
                        </div>
                    </blockquote>
                </div>
            </figure>
        </div>
        <div class="container">
            <figure class="flex flex-md-column bg-slate-50 rounded-xl p-2 dark:bg-slate-800  ">
                <img class="w-24 h-36 md:w-32 md:h-48 md:flex md:rounded-none mx-auto" src="/images/avatar.jpg" alt="" width="384" height="512">
                <div class="pt-0 md:p-5 text-left space-y-4 ml-5">
                    <div class="text-black-500 dark:text-sky-400 text-2xl text-left">
                        <a href="\Home\Movie">Avatar</a>
                    </div>
                    <figcaption class="font-medium columns-2">
                        <div class="text-sky-500 dark:text-sky-400">
                            Director
                        </div>
                        <div class="text-sky-500 dark:text-sky-400">
                            Año
                        </div>
                    </figcaption>
                    <figcaption class="font-medium columns-2">
                        <div class="text-slate-700 dark:text-slate-500">
                            James Cameron
                        </div>
                        <div class="text-slate-700 dark:text-slate-500">
                            2009
                        </div>
                    </figcaption>
                    <blockquote>
                        <div class="text-sm font-small h-30 w-200 invisible md:visible">
                            Corre el año 2154. Jake Sully es un antiguo marine que vive postrado en una silla de ruedas, pero cuya determinación y valentía se mantienen intactas. Ahora, tiene una misión entre manos: viajar a Pandora, un planeta del que los humanos extraen un mineral que puede acabar con la crisis energética de la Tierra.

                            Sin embargo, este planeta...
                        </div>
                    </blockquote>
                </div>
            </figure>
        </div>
        <div class="container">
            <figure class="flex flex-md-column bg-slate-50 rounded-xl p-2 dark:bg-slate-800  ">
                <img class="w-24 h-36 md:w-32 md:h-48 md:flex md:rounded-none mx-auto" src="/images/avatar.jpg" alt="" width="384" height="512">
                <div class="pt-0 md:p-5 text-left space-y-4 ml-5">
                    <div class="text-black-500 dark:text-sky-400 text-2xl text-left">
                        <a href="\Home\Movie">Avatar</a>
                    </div>
                    <figcaption class="font-medium columns-2">
                        <div class="text-sky-500 dark:text-sky-400">
                            Director
                        </div>
                        <div class="text-sky-500 dark:text-sky-400">
                            Año
                        </div>
                    </figcaption>
                    <figcaption class="font-medium columns-2">
                        <div class="text-slate-700 dark:text-slate-500">
                            James Cameron
                        </div>
                        <div class="text-slate-700 dark:text-slate-500">
                            2009
                        </div>
                    </figcaption>
                    <blockquote>
                        <div class="text-sm font-small h-30 w-200 invisible md:visible">
                            Corre el año 2154. Jake Sully es un antiguo marine que vive postrado en una silla de ruedas, pero cuya determinación y valentía se mantienen intactas. Ahora, tiene una misión entre manos: viajar a Pandora, un planeta del que los humanos extraen un mineral que puede acabar con la crisis energética de la Tierra.

                            Sin embargo, este planeta...
                        </div>
                    </blockquote>
                </div>
            </figure>
        </div>
        <div class="container">
            <figure class="flex flex-md-column bg-slate-50 rounded-xl p-2 dark:bg-slate-800  ">
                <img class="w-24 h-36 md:w-32 md:h-48 md:flex md:rounded-none mx-auto" src="/images/avatar.jpg" alt="" width="384" height="512">
                <div class="pt-0 md:p-5 text-left space-y-4 ml-5">
                    <div class="text-black-500 dark:text-sky-400 text-2xl text-left">
                        <a href="\Home\Movie">Avatar</a>
                    </div>
                    <figcaption class="font-medium columns-2">
                        <div class="text-sky-500 dark:text-sky-400">
                            Director
                        </div>
                        <div class="text-sky-500 dark:text-sky-400">
                            Año
                        </div>
                    </figcaption>
                    <figcaption class="font-medium columns-2">
                        <div class="text-slate-700 dark:text-slate-500">
                            James Cameron
                        </div>
                        <div class="text-slate-700 dark:text-slate-500">
                            2009
                        </div>
                    </figcaption>
                    <blockquote>
                        <div class="text-sm font-small h-30 w-200 invisible md:visible">
                            Corre el año 2154. Jake Sully es un antiguo marine que vive postrado en una silla de ruedas, pero cuya determinación y valentía se mantienen intactas. Ahora, tiene una misión entre manos: viajar a Pandora, un planeta del que los humanos extraen un mineral que puede acabar con la crisis energética de la Tierra.

                            Sin embargo, este planeta...
                        </div>
                    </blockquote>
                </div>
            </figure>
        </div>
        <div class="container">
            <figure class="flex flex-md-column bg-slate-50 rounded-xl p-2 dark:bg-slate-800  ">
                <img class="w-24 h-36 md:w-32 md:h-48 md:flex md:rounded-none mx-auto" src="/images/avatar.jpg" alt="" width="384" height="512">
                <div class="pt-0 md:p-5 text-left space-y-4 ml-5">
                    <div class="text-black-500 dark:text-sky-400 text-2xl text-left">
                        <a href="\Home\Movie">Avatar</a>
                    </div>
                    <figcaption class="font-medium columns-2">
                        <div class="text-sky-500 dark:text-sky-400">
                            Director
                        </div>
                        <div class="text-sky-500 dark:text-sky-400">
                            Año
                        </div>
                    </figcaption>
                    <figcaption class="font-medium columns-2">
                        <div class="text-slate-700 dark:text-slate-500">
                            James Cameron
                        </div>
                        <div class="text-slate-700 dark:text-slate-500">
                            2009
                        </div>
                    </figcaption>
                    <blockquote>
                        <div class="text-sm font-small h-30 w-200 invisible md:visible">
                            Corre el año 2154. Jake Sully es un antiguo marine que vive postrado en una silla de ruedas, pero cuya determinación y valentía se mantienen intactas. Ahora, tiene una misión entre manos: viajar a Pandora, un planeta del que los humanos extraen un mineral que puede acabar con la crisis energética de la Tierra.

                            Sin embargo, este planeta...
                        </div>
                    </blockquote>
                </div>
            </figure>
        </div>
        <div class="container">
            <figure class="flex flex-md-column bg-slate-50 rounded-xl p-2 dark:bg-slate-800  ">
                <img class="w-24 h-36 md:w-32 md:h-48 md:flex md:rounded-none mx-auto" src="/images/avatar.jpg" alt="" width="384" height="512">
                <div class="pt-0 md:p-5 text-left space-y-4 ml-5">
                    <div class="text-black-500 dark:text-sky-400 text-2xl text-left">
                        <a href="\Home\Movie">Avatar</a>
                    </div>
                    <figcaption class="font-medium columns-2">
                        <div class="text-sky-500 dark:text-sky-400">
                            Director
                        </div>
                        <div class="text-sky-500 dark:text-sky-400">
                            Año
                        </div>
                    </figcaption>
                    <figcaption class="font-medium columns-2">
                        <div class="text-slate-700 dark:text-slate-500">
                            James Cameron
                        </div>
                        <div class="text-slate-700 dark:text-slate-500">
                            2009
                        </div>
                    </figcaption>
                    <blockquote>
                        <div class="text-sm font-small h-30 w-200 invisible md:visible">
                            Corre el año 2154. Jake Sully es un antiguo marine que vive postrado en una silla de ruedas, pero cuya determinación y valentía se mantienen intactas. Ahora, tiene una misión entre manos: viajar a Pandora, un planeta del que los humanos extraen un mineral que puede acabar con la crisis energética de la Tierra.

                            Sin embargo, este planeta...
                        </div>
                    </blockquote>
                </div>
            </figure>
        </div>
    </div>
</main>