@{
    ViewData["Title"] = "Resultados";
}

<main class="flex items-center justify-center h-auto bg-gray-100 md:pt-20 pb-5">
    <div class="columns-1 mx-auto space-y-5">
        <div>
            <button type="button" class="hidden w-full bg-slate-50 lg:flex items-center text-sm leading-6 text-slate-400 rounded-md ring-1 ring-slate-900/10 py-1.5 pl-2 pr-3 hover:ring-slate-300 dark:bg-slate-800 dark:highlight-white/5 dark:hover:bg-slate-700"><svg width="24" height="24" fill="none" aria-hidden="true" class="mr-3 flex-none"><path d="m19 19-3.5-3.5" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path><circle cx="11" cy="11" r="6" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></circle></svg>Buscar...</button>
        </div>
        <div class="container ">
            <figure class="grid grid-cols-5 gap-4 flex flex-md-column bg-slate-50 rounded-xl p-2 dark:bg-slate-800 md:place-items-center columns-2 ">
                <img class="w-24 h-36 md:w-32 md:h-48 md:flex md:rounded-none mx-auto" src="/images/avatar.jpg" alt="" width="384" height="512">
                <div class="col-span-4 pt-0 md:p-5 text-left space-y-4 ml-5">
                    <div class="text-black-500 dark:text-sky-400 text-2xl text-left">
                        <a href="\Home\Movie">Avatar</a>
                    </div>
                    <figcaption class="font-medium columns-2">
                        <div class="text-sky-500 dark:text-sky-400">
                            Director
                        </div>
                        <div class="text-sky-500 dark:text-sky-400">
                            Año
                        </div>
                    </figcaption>
                    <figcaption class="font-medium columns-2">
                        <div class="text-slate-700 dark:text-slate-500">
                            James Cameron
                        </div>
                        <div class="text-slate-700 dark:text-slate-500">
                            2009
                        </div>
                    </figcaption>
                    <blockquote>
                        <div class="h-auto w-auto text-[0px] md:text-sm">
                            Corre el año 2154. Jake Sully es un antiguo marine que vive postrado en una silla de ruedas, pero cuya determinación y valentía se mantienen intactas. Ahora, tiene una misión entre manos: viajar a Pandora, un planeta del que los humanos extraen un mineral que puede acabar con la crisis energética de la Tierra.

                            Sin embargo, este planeta...
                        </div>
                    </blockquote>
                </div>
            </figure>
        </div>
        
        <div class="container ">
            <figure class="grid grid-cols-5 gap-4 flex flex-md-column bg-slate-50 rounded-xl p-2 dark:bg-slate-800 md:place-items-center columns-2 ">
                <img class="w-24 h-36 md:w-32 md:h-48 md:flex md:rounded-none mx-auto" src="/images/avatar.jpg" alt="" width="384" height="512">
                <div class="col-span-4 pt-0 md:p-5 text-left space-y-4 ml-5">
                    <div class="text-black-500 dark:text-sky-400 text-2xl text-left">
                        <a href="\Home\Movie">Avatar</a>
                    </div>
                    <figcaption class="font-medium columns-2">
                        <div class="text-sky-500 dark:text-sky-400">
                            Director
                        </div>
                        <div class="text-sky-500 dark:text-sky-400">
                            Año
                        </div>
                    </figcaption>
                    <figcaption class="font-medium columns-2">
                        <div class="text-slate-700 dark:text-slate-500">
                            James Cameron
                        </div>
                        <div class="text-slate-700 dark:text-slate-500">
                            2009
                        </div>
                    </figcaption>
                    <blockquote>
                        <div class="h-auto w-auto text-[0px] md:text-sm">
                            Corre el año 2154. Jake Sully es un antiguo marine que vive postrado en una silla de ruedas, pero cuya determinación y valentía se mantienen intactas. Ahora, tiene una misión entre manos: viajar a Pandora, un planeta del que los humanos extraen un mineral que puede acabar con la crisis energética de la Tierra.

                            Sin embargo, este planeta...
                        </div>
                    </blockquote>
                </div>
            </figure>
        </div>
        <div class="container ">
            <figure class="grid grid-cols-5 gap-4 flex flex-md-column bg-slate-50 rounded-xl p-2 dark:bg-slate-800 md:place-items-center columns-2 ">
                <img class="w-24 h-36 md:w-32 md:h-48 md:flex md:rounded-none mx-auto" src="/images/avatar.jpg" alt="" width="384" height="512">
                <div class="col-span-4 pt-0 md:p-5 text-left space-y-4 ml-5">
                    <div class="text-black-500 dark:text-sky-400 text-2xl text-left">
                        <a href="\Home\Movie">Avatar</a>
                    </div>
                    <figcaption class="font-medium columns-2">
                        <div class="text-sky-500 dark:text-sky-400">
                            Director
                        </div>
                        <div class="text-sky-500 dark:text-sky-400">
                            Año
                        </div>
                    </figcaption>
                    <figcaption class="font-medium columns-2">
                        <div class="text-slate-700 dark:text-slate-500">
                            James Cameron
                        </div>
                        <div class="text-slate-700 dark:text-slate-500">
                            2009
                        </div>
                    </figcaption>
                    <blockquote>
                        <div class="h-auto w-auto text-[0px] md:text-sm">
                            Corre el año 2154. Jake Sully es un antiguo marine que vive postrado en una silla de ruedas, pero cuya determinación y valentía se mantienen intactas. Ahora, tiene una misión entre manos: viajar a Pandora, un planeta del que los humanos extraen un mineral que puede acabar con la crisis energética de la Tierra.

                            Sin embargo, este planeta...
                        </div>
                    </blockquote>
                </div>
            </figure>
        </div>
        <div class="container ">
            <figure class="grid grid-cols-5 gap-4 flex flex-md-column bg-slate-50 rounded-xl p-2 dark:bg-slate-800 md:place-items-center columns-2 ">
                <img class="w-24 h-36 md:w-32 md:h-48 md:flex md:rounded-none mx-auto" src="/images/avatar.jpg" alt="" width="384" height="512">
                <div class="col-span-4 pt-0 md:p-5 text-left space-y-4 ml-5">
                    <div class="text-black-500 dark:text-sky-400 text-2xl text-left">
                        <a href="\Home\Movie">Avatar</a>
                    </div>
                    <figcaption class="font-medium columns-2">
                        <div class="text-sky-500 dark:text-sky-400">
                            Director
                        </div>
                        <div class="text-sky-500 dark:text-sky-400">
                            Año
                        </div>
                    </figcaption>
                    <figcaption class="font-medium columns-2">
                        <div class="text-slate-700 dark:text-slate-500">
                            James Cameron
                        </div>
                        <div class="text-slate-700 dark:text-slate-500">
                            2009
                        </div>
                    </figcaption>
                    <blockquote>
                        <div class="h-auto w-auto text-[0px] md:text-sm">
                            Corre el año 2154. Jake Sully es un antiguo marine que vive postrado en una silla de ruedas, pero cuya determinación y valentía se mantienen intactas. Ahora, tiene una misión entre manos: viajar a Pandora, un planeta del que los humanos extraen un mineral que puede acabar con la crisis energética de la Tierra.

                            Sin embargo, este planeta...
                        </div>
                    </blockquote>
                </div>
            </figure>
        </div>
        <div class="container ">
            <figure class="grid grid-cols-5 gap-4 flex flex-md-column bg-slate-50 rounded-xl p-2 dark:bg-slate-800 md:place-items-center columns-2 ">
                <img class="w-24 h-36 md:w-32 md:h-48 md:flex md:rounded-none mx-auto" src="/images/avatar.jpg" alt="" width="384" height="512">
                <div class="col-span-4 pt-0 md:p-5 text-left space-y-4 ml-5">
                    <div class="text-black-500 dark:text-sky-400 text-2xl text-left">
                        <a href="\Home\Movie">Avatar</a>
                    </div>
                    <figcaption class="font-medium columns-2">
                        <div class="text-sky-500 dark:text-sky-400">
                            Director
                        </div>
                        <div class="text-sky-500 dark:text-sky-400">
                            Año
                        </div>
                    </figcaption>
                    <figcaption class="font-medium columns-2">
                        <div class="text-slate-700 dark:text-slate-500">
                            James Cameron
                        </div>
                        <div class="text-slate-700 dark:text-slate-500">
                            2009
                        </div>
                    </figcaption>
                    <blockquote>
                        <div class="h-auto w-auto text-[0px] md:text-sm">
                            Corre el año 2154. Jake Sully es un antiguo marine que vive postrado en una silla de ruedas, pero cuya determinación y valentía se mantienen intactas. Ahora, tiene una misión entre manos: viajar a Pandora, un planeta del que los humanos extraen un mineral que puede acabar con la crisis energética de la Tierra.

                            Sin embargo, este planeta...
                        </div>
                    </blockquote>
                </div>
            </figure>
        </div>
        <div class="container ">
            <figure class="grid grid-cols-5 gap-4 flex flex-md-column bg-slate-50 rounded-xl p-2 dark:bg-slate-800 md:place-items-center columns-2 ">
                <img class="w-24 h-36 md:w-32 md:h-48 md:flex md:rounded-none mx-auto" src="/images/avatar.jpg" alt="" width="384" height="512">
                <div class="col-span-4 pt-0 md:p-5 text-left space-y-4 ml-5">
                    <div class="text-black-500 dark:text-sky-400 text-2xl text-left">
                        <a href="\Home\Movie">Avatar</a>
                    </div>
                    <figcaption class="font-medium columns-2">
                        <div class="text-sky-500 dark:text-sky-400">
                            Director
                        </div>
                        <div class="text-sky-500 dark:text-sky-400">
                            Año
                        </div>
                    </figcaption>
                    <figcaption class="font-medium columns-2">
                        <div class="text-slate-700 dark:text-slate-500">
                            James Cameron
                        </div>
                        <div class="text-slate-700 dark:text-slate-500">
                            2009
                        </div>
                    </figcaption>
                    <blockquote>
                        <div class="h-auto w-auto text-[0px] md:text-sm">
                            Corre el año 2154. Jake Sully es un antiguo marine que vive postrado en una silla de ruedas, pero cuya determinación y valentía se mantienen intactas. Ahora, tiene una misión entre manos: viajar a Pandora, un planeta del que los humanos extraen un mineral que puede acabar con la crisis energética de la Tierra.

                            Sin embargo, este planeta...
                        </div>
                    </blockquote>
                </div>
            </figure>
        </div>
        <div class="container ">
            <figure class="grid grid-cols-5 gap-4 flex flex-md-column bg-slate-50 rounded-xl p-2 dark:bg-slate-800 md:place-items-center columns-2 ">
                <img class="w-24 h-36 md:w-32 md:h-48 md:flex md:rounded-none mx-auto" src="/images/avatar.jpg" alt="" width="384" height="512">
                <div class="col-span-4 pt-0 md:p-5 text-left space-y-4 ml-5">
                    <div class="text-black-500 dark:text-sky-400 text-2xl text-left">
                        <a href="\Home\Movie">Avatar</a>
                    </div>
                    <figcaption class="font-medium columns-2">
                        <div class="text-sky-500 dark:text-sky-400">
                            Director
                        </div>
                        <div class="text-sky-500 dark:text-sky-400">
                            Año
                        </div>
                    </figcaption>
                    <figcaption class="font-medium columns-2">
                        <div class="text-slate-700 dark:text-slate-500">
                            James Cameron
                        </div>
                        <div class="text-slate-700 dark:text-slate-500">
                            2009
                        </div>
                    </figcaption>
                    <blockquote>
                        <div class="h-auto w-auto text-[0px] md:text-sm">
                            Corre el año 2154. Jake Sully es un antiguo marine que vive postrado en una silla de ruedas, pero cuya determinación y valentía se mantienen intactas. Ahora, tiene una misión entre manos: viajar a Pandora, un planeta del que los humanos extraen un mineral que puede acabar con la crisis energética de la Tierra.

                            Sin embargo, este planeta...
                        </div>
                    </blockquote>
                </div>
            </figure>
        </div>
        <div class="container ">
            <figure class="grid grid-cols-5 gap-4 flex flex-md-column bg-slate-50 rounded-xl p-2 dark:bg-slate-800 md:place-items-center columns-2 ">
                <img class="w-24 h-36 md:w-32 md:h-48 md:flex md:rounded-none mx-auto" src="/images/avatar.jpg" alt="" width="384" height="512">
                <div class="col-span-4 pt-0 md:p-5 text-left space-y-4 ml-5">
                    <div class="text-black-500 dark:text-sky-400 text-2xl text-left">
                        <a href="\Home\Movie">Avatar</a>
                    </div>
                    <figcaption class="font-medium columns-2">
                        <div class="text-sky-500 dark:text-sky-400">
                            Director
                        </div>
                        <div class="text-sky-500 dark:text-sky-400">
                            Año
                        </div>
                    </figcaption>
                    <figcaption class="font-medium columns-2">
                        <div class="text-slate-700 dark:text-slate-500">
                            James Cameron
                        </div>
                        <div class="text-slate-700 dark:text-slate-500">
                            2009
                        </div>
                    </figcaption>
                    <blockquote>
                        <div class="h-auto w-auto text-[0px] md:text-sm">
                            Corre el año 2154. Jake Sully es un antiguo marine que vive postrado en una silla de ruedas, pero cuya determinación y valentía se mantienen intactas. Ahora, tiene una misión entre manos: viajar a Pandora, un planeta del que los humanos extraen un mineral que puede acabar con la crisis energética de la Tierra.

                            Sin embargo, este planeta...
                        </div>
                    </blockquote>
                </div>
            </figure>
        </div>
        <div class="container ">
            <figure class="grid grid-cols-5 gap-4 flex flex-md-column bg-slate-50 rounded-xl p-2 dark:bg-slate-800 md:place-items-center columns-2 ">
                <img class="w-24 h-36 md:w-32 md:h-48 md:flex md:rounded-none mx-auto" src="/images/avatar.jpg" alt="" width="384" height="512">
                <div class="col-span-4 pt-0 md:p-5 text-left space-y-4 ml-5">
                    <div class="text-black-500 dark:text-sky-400 text-2xl text-left">
                        <a href="\Home\Movie">Avatar</a>
                    </div>
                    <figcaption class="font-medium columns-2">
                        <div class="text-sky-500 dark:text-sky-400">
                            Director
                        </div>
                        <div class="text-sky-500 dark:text-sky-400">
                            Año
                        </div>
                    </figcaption>
                    <figcaption class="font-medium columns-2">
                        <div class="text-slate-700 dark:text-slate-500">
                            James Cameron
                        </div>
                        <div class="text-slate-700 dark:text-slate-500">
                            2009
                        </div>
                    </figcaption>
                    <blockquote>
                        <div class="h-auto w-auto text-[0px] md:text-sm">
                            Corre el año 2154. Jake Sully es un antiguo marine que vive postrado en una silla de ruedas, pero cuya determinación y valentía se mantienen intactas. Ahora, tiene una misión entre manos: viajar a Pandora, un planeta del que los humanos extraen un mineral que puede acabar con la crisis energética de la Tierra.

                            Sin embargo, este planeta...
                        </div>
                    </blockquote>
                </div>
            </figure>
        </div>
        <div class="container ">
            <figure class="grid grid-cols-5 gap-4 flex flex-md-column bg-slate-50 rounded-xl p-2 dark:bg-slate-800 md:place-items-center columns-2 ">
                <img class="w-24 h-36 md:w-32 md:h-48 md:flex md:rounded-none mx-auto" src="/images/avatar.jpg" alt="" width="384" height="512">
                <div class="col-span-4 pt-0 md:p-5 text-left space-y-4 ml-5">
                    <div class="text-black-500 dark:text-sky-400 text-2xl text-left">
                        <a href="\Home\Movie">Avatar</a>
                    </div>
                    <figcaption class="font-medium columns-2">
                        <div class="text-sky-500 dark:text-sky-400">
                            Director
                        </div>
                        <div class="text-sky-500 dark:text-sky-400">
                            Año
                        </div>
                    </figcaption>
                    <figcaption class="font-medium columns-2">
                        <div class="text-slate-700 dark:text-slate-500">
                            James Cameron
                        </div>
                        <div class="text-slate-700 dark:text-slate-500">
                            2009
                        </div>
                    </figcaption>
                    <blockquote>
                        <div class="h-auto w-auto text-[0px] md:text-sm">
                            Corre el año 2154. Jake Sully es un antiguo marine que vive postrado en una silla de ruedas, pero cuya determinación y valentía se mantienen intactas. Ahora, tiene una misión entre manos: viajar a Pandora, un planeta del que los humanos extraen un mineral que puede acabar con la crisis energética de la Tierra.

                            Sin embargo, este planeta...
                        </div>
                    </blockquote>
                </div>
            </figure>
        </div>
        <br />
    </div>
</main>