@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<main class="flex items-center justify-center bg-gray-100  py-8 px-4">
    <div class="columns-1 mx-auto space-y-4">
        @for(int i=1;i<=10;i++){
            <div class="md:hidden container bg-slate-50 rounded-xl grid justify-items-center mt-10 ">
                <figure class=" flex items-center bg-slate-50 rounded-xl p-2 grid grid-cols-4 md:grid-cols-6 gap-2 justify-content-center flex justify-center" ">
                    <img class="w-fit h-fit md:w-32 md:h-48 flex md:rounded-none mx-auto" src="/images/avatar.jpg" alt="" width="384" height="512">
                    <div class="pt-0 md:p-5 text-left space-y-4 ml-5 col-span-3 md:col-span-5 ">

                        <div class="text-sky-900 text-3xl text-left">
                            <a href="\Home\Movie">@i. Avatar</a>
                        </div>
                        <div class="columns-1 md:columns-2 grid md:grid-cols-3 gap-0 md:gap-4">
                            <div class="md:col-span-2">
                                <figcaption class="font-medium columns-2">
                                    <div class="text-sky-500">
                                        Director: <label class="text-slate-600 font-small">James Cameron</label>
                                    </div>
                                    <div class="text-sky-500">
                                        Año: <label class="text-slate-600 font-small">2009</label>
                                    </div>
                                </figcaption>

                                <blockquote>
                                    <div class="h-auto w-auto md:py-2 font-small text-[0px] md:text-base mt-0 md:mt-3 ">
                                        <div class="font-medium text-sky-500 mb-2">Sinopsis</div>
                                        Corre el año 2154. Jake Sully es un antiguo marine que vive postrado en una silla de ruedas, pero cuya determinación y valentía se mantienen intactas. Ahora, tiene una misión entre manos: viajar a Pandora, un planeta del que los humanos extraen...
                                    </div>
                                </blockquote>
                            </div>

                            <div class="grid justify-items-center">
                                <figure>
                                    <div class="text-slate-700 flex justify-self-start">
                                        <div class=" py-1">
                                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" class="w-4 text-yellow-500 mr-1" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                                                <path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path>
                                            </svg>
                                        </div>
                                        <p>4.5</p>
                                    </div>
                                    <div class="mt-3">
                                        <ul class="flex justify-start gap-4">
                                            <li>
                                                <div class="text-xs mt-1 inline-flex items-center font-bold leading-sm uppercase px-3 py-1 bg-gray-200 text-gray-500 rounded-full">
                                                    <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 4v16M17 4v16M3 8h4m10 0h4M3 12h18M3 16h4m10 0h4M4 20h16a1 1 0 001-1V5a1 1 0 00-1-1H4a1 1 0 00-1 1v14a1 1 0 001 1z"></path></svg>
                                                    <p class="px-2 text-right">Fantasia</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="text-xs mt-1 inline-flex items-center font-bold leading-sm uppercase px-3 py-1 bg-gray-200 text-gray-500 rounded-full">
                                                    <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 4v16M17 4v16M3 8h4m10 0h4M3 12h18M3 16h4m10 0h4M4 20h16a1 1 0 001-1V5a1 1 0 00-1-1H4a1 1 0 00-1 1v14a1 1 0 001 1z"></path></svg>
                                                    <p class="px-2 text-right">Aventura</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </figure>
                            </div>
                        </div>
                    </div>
                </figure>
            </div>
         }
        
        <!--tamaño laptop-->
        <table class="hidden md:block table-auto bg-slate-50 border-collapse border border-slate-500">
            <thead>
                <tr>
                    <th class="border border-slate-600 px-4">Rank</th>
                    <th class="border border-slate-600">Titulo</th>
                    <th class="border border-slate-600">Valoración</th>
                </tr>
            </thead>
            <tbody>
                @for(int i=1; i<=10; i++){
                    <tr>
                        <td class="border border-slate-600"><div class="flex container text-6xl text-gray-800 grid justify-items-center align-items-center place-content-center inset-0 font-serif col-span-1">@i</div></td>
                        <td class="border border-slate-600">
                            <figure class=" col-span-3 flex items-center bg-slate-50 rounded-xl p-2 grid grid-cols-4 md:grid-cols-6 gap-2 justify-content-center flex justify-center">

                                <img class="w-fit h-fit md:w-24 md:h-36 flex md:rounded-none mx-auto" src="/images/avatar.jpg" alt="" width="384" height="512">
                                <div class="pt-0 md:p-5 text-left space-y-4 ml-5 col-span-3 md:col-span-5 ">

                                    <div class="text-sky-900 text-3xl text-left">
                                        <a href="\Home\Movie">Avatar</a>
                                    </div>
                                    <div class="columns-1 gap-4">
                                        <div class="columns-1">
                                            <figcaption class="font-medium columns-1 md:columns-2">
                                                <div class="text-sky-500 columns-2">
                                                    Director: <label class="text-slate-600 font-small">James Cameron</label>
                                                </div>
                                                <div class="text-sky-500">
                                                    Año: <label class="text-slate-600 font-small">2009</label>
                                                </div>
                                            </figcaption>
                                            <figure>
                                                <div class="mt-3">
                                                    <ul class="flex justify-start gap-4">
                                                        <li>
                                                            <div class="text-xs mt-1 inline-flex items-center font-bold leading-sm uppercase px-3 py-1 bg-gray-200 text-gray-500 rounded-full">
                                                                <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 4v16M17 4v16M3 8h4m10 0h4M3 12h18M3 16h4m10 0h4M4 20h16a1 1 0 001-1V5a1 1 0 00-1-1H4a1 1 0 00-1 1v14a1 1 0 001 1z"></path></svg>
                                                                <p class="px-2 text-right">Fantasia</p>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="text-xs mt-1 inline-flex items-center font-bold leading-sm uppercase px-3 py-1 bg-gray-200 text-gray-500 rounded-full">
                                                                <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 4v16M17 4v16M3 8h4m10 0h4M3 12h18M3 16h4m10 0h4M4 20h16a1 1 0 001-1V5a1 1 0 00-1-1H4a1 1 0 00-1 1v14a1 1 0 001 1z"></path></svg>
                                                                <p class="px-2 text-right">Aventura</p>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                            </figure>
                        </td>
                        <td class="border border-slate-600">
                            <div class="text-slate-700 flex justify-center">
                                <div class=" py-1">
                                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" class="w-4 text-yellow-500 mr-1" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                                        <path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path>
                                    </svg>
                                </div>
                                <p>4.5</p>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</main>